body {
  font-family: sans-serif;
  margin: 20px;
  background: #fafafa;
  color: #222;
}

h1 {
  margin-bottom: 1rem;
}

.filters {
  margin-bottom: 1rem;
}
.filters button {
  margin-right: 5px;
  padding: 6px 12px;
  border: none;
  background: #eee;
  cursor: pointer;
  border-radius: 5px;
}
.filters button:hover {
  background: #ffff15;
}

.grid {
  margin: 20 auto;
}

.grid-item {
  width: 250px;
  margin: 5px;
  /*background: white;*/
  overflow: hidden;
  transition: transform 0.5s ;
}
.grid-item:hover {
    border-color: #ffff15;
    border-radius: 3%;
  z-index: 10;

}

.grid-item img {
  width: 100%;
  display: block;
}

.meta {
  padding: 5px;
}
