body {
  font-family: 'Times New Roman', Times, serif ;
  margin: 20px;
  background: #ffffff;
  color: #710000;
}

h1 {
  margin-bottom: 1rem;
}

.filters {
  margin-bottom: 1rem;
}
.filters button {
  font-family: 'Times New Roman', Times, serif ;
  margin-right: 5px;
  padding: 6px 12px;
  border: none;
  background: #bebebe;
  color: #b8f4ff;

  cursor: pointer;
  border-radius: 5px;
}
.filters button:hover {
  background: #b8f4ff;
  color: #bebebe;
}


.grid { margin: 10px; }

.grid-sizer, .grid-item { width: 23%; }          
@media (max-width: 1000px){ .grid-sizer, .grid-item { width: 33%; } } /* 3 col */
@media (max-width: 700px) { .grid-sizer, .grid-item { width: 49%; } }     /* 2 col */
@media (max-width: 420px) { .grid-sizer, .grid-item { width: 100%; } }    /* 1 col */

.grid-item {
  margin-bottom: 12px;
  border-radius: 8px;
  overflow: hidden;
  background: #f4f4f4;
}

.grid-item img {
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: cover;
  display: block;
}

.grid-item:hover {
  border-style: solid;
  border-width: 7px;
  border-color: #b8f4ff;
  z-index: 10;

}

.grid-item img {
  width: 100%;
  display: block;
}

.meta {
  padding: 5px;
}
