body {
  font-family: 'Times New Roman', Times, serif ;
  margin: 20px;
  background: #ffffff;
  color: #b3bfff;
}

h1 {
  margin-bottom: 1rem;
}

.filters {
  margin-bottom: 1rem;
}
.filters button {
  font-family: 'Times New Roman', Times, serif ;
  margin-right: 5px;
  padding: 6px 12px;
  border: none;
  background: #fdffa3;
  color: #b3bfff;

  cursor: pointer;
  border-radius: 5px;
}
.filters button:hover {
  background: #b3bfff;
  color: #fdffa3;
}

.grid {
  margin: 30 auto;
}

.grid-item {
  width: 250px;
  margin: 5px;
  /*background: white;*/
  overflow: hidden;
  transition: transform 0.5s ;
}
.grid-item:hover {
  border-style: solid;
  border-width: 10px;
  border-color: #fdffa3;
  z-index: 10;

}

.grid-item img {
  width: 100%;
  display: block;
}

.meta {
  padding: 5px;
}
